{{!-- <p>Hello,</p>
<p>The following product is low in stock:</p>
<ul>
  <li><strong>{{productCode}}</strong> - Quantity: {{quantityAvailable}}</li>
</ul>
<p>Please restock as soon as possible.</p> --}}

<p>Hello,</p>
<p>The following product is low in stock:</p>
<ul>
  <li>(Code: {{productCode}}) - Quantity: {{quantityAvailable}}</li>
  {{!-- <li>Low Stock Threshold: {{lowStockThreshold}}</li> --}}
</ul>
<p>Please restock as soon as possible.</p>
